set fish_greeting ""

# Only run the rest of the config if we're in an interactive shell
status is-interactive || exit

# === Appearance ===

fish_config theme choose "Dracula Official"

# === Keybindings ===

bind alt-backspace backward-kill-word
fzf_configure_bindings --directory=ctrl-f --git_status=ctrl-s

# === Integrations ===

if type -q zoxide
    zoxide init fish | source
end
