{{- /* Feature flags */ -}}
{{- $isWsl := false -}}
{{- $sshAgent := "none" -}}

{{- /* Choices */ -}}
{{- $sshAgentChoices := list "none" -}}

{{- /* Combine OS and distro into a single string (e.g. `linux-debian`) */ -}}
{{- $osID := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-     $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- /* Detect if running in WSL2 */ -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $isWsl = true -}}
{{-   end -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   $sshAgentChoices = append $sshAgentChoices "bitwarden-flatpak" -}}
{{-   $sshAgentChoices = append $sshAgentChoices "ssh-user-agent" -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $sshAgentChoices = append $sshAgentChoices "bitwarden-macos" -}}
{{-   $sshAgentChoices = append $sshAgentChoices "secretive" -}}
{{- end -}}

{{- /* Selection generation */ -}}
{{- if eq $isWsl true -}}
{{-   $sshAgentChoices = append $sshAgentChoices "wsl2-ssh-agent" -}}
{{- end -}}

{{- /* User prompts */ -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $sshAgent = promptChoiceOnce . "sshAgent" "What SSH agent do you want to use" $sshAgentChoices -}}

[data]
    email = {{ $email | quote }}
    isWsl = {{ $isWsl }}
    osID = {{ $osID | quote }}
    sshAgent = {{ $sshAgent | quote }}
