{{- /* Feature flags */ -}}
{{- $isWsl := false -}}
{{- $sshAgent := "none" -}}

{{- /* Choices */ -}}
{{- $sshAgentChoices := list "none" -}}

{{- /* Detect if running in WSL2 */ -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $isWsl = true -}}
{{-   end -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   $sshAgentChoices = append $sshAgentChoices "bitwarden-flatpak" -}}
{{-   $sshAgentChoices = append $sshAgentChoices "ssh-user-agent" -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $sshAgentChoices = append $sshAgentChoices "secretive" -}}
{{- end -}}

{{- /* User prompts */ -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $sshAgent = promptChoiceOnce . "sshAgent" "What SSH agent do you want to use" $sshAgentChoices -}}

[data]
    email = {{ $email | quote }}
    isWsl = {{ $isWsl }}
    sshAgent = {{ $sshAgent | quote }}
