if [[ -z "${SSH_CONNECTION}" ]]; then
    {{ if .useOpenSshUserAgent -}}
    export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/socket-agent.socket"
    {{- end }}

    {{ if .useSecretiveSshAgent -}}
    export SSH_AUTH_SOCK="$HOME/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh"
    {{- end }}
fi

path+=("$HOME/.cargo/bin")
path+=("$HOME/.krew/bin")
path+=("$HOME/.local/bin")
