{{- if .sshAuthSock }}
if [[ -z "${SSH_CONNECTION}" ]]; then
    export SSH_AUTH_SOCK="{{ .sshAuthSock }}"
fi
{{- end }}

{{- if eq .platformId "linux-bazzite" }}
path+=("/home/linuxbrew/.linuxbrew/bin")
{{- end }}

path+=("$HOME/.cargo/bin")
path+=("$HOME/.krew/bin")
path+=("$HOME/.local/bin")
