{{- if eq .platformId "darwin" }}
eval $(/opt/homebrew/bin/brew shellenv)
{{- end }}

if type -q mise
    if status is-interactive
        mise activate fish | source
    else
        mise activate fish --shims | source
    end
end

fish_add_path -g ~/.cargo/bin
fish_add_path -g ~/.krew/bin
fish_add_path -g ~/.local/bin
fish_add_path -g ~/.local/share/pnpm
fish_add_path -g ~/.orbstack/bin
fish_add_path -g ~/Library/Application\ Support/JetBrains/Toolbox/scripts
